[submodule "zsh/dot-zsh-snap"]
	path = zsh/dot-zsh-snap
	url = https://github.com/marlonrichert/zsh-snap.git
[submodule "tmux/dot-config/tmux/plugins/tpm"]
	path = tmux/dot-config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "specs/bats"]
	path = spec/bats
	url = https://github.com/bats-core/bats-core.git
[submodule "specs/test_helper/bats-support"]
	path = spec/test_helper/bats-support
	url = https://github.com/bats-core/bats-support.git
[submodule "specs/test_helper/bats-assert"]
	path = spec/test_helper/bats-assert
	url = https://github.com/bats-core/bats-assert.git
